html {
  height: 100%;
  width: 100%;
  font-family: "georgia", serif;
}

body {
  background: #c3d34a url("texture2.png");
}

.title {
  border: 2px outset #b0b0b0;
  background-color: #ffffff99;
  padding: 1px;
}

button {
  background-color: #ffffff;
  font-family: "georgia", monospace;
}
